body {
  margin: 0;
  background-color: white;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 200;
  font-size: 17px;
}

#container{
  width: 100%;
  height: 100vh;
  margin: auto;
  display: flex;
flex-direction: row;
}

#text{
  width: 35%;
  height: 100vh;
  background-color: #D8D8D8;
  overflow: auto;
  /*filter: alpha(opacity=60);*/
  float:left;
  position: relative;

}

.text_container{
  overflow: auto;
  margin: 10%;
  color: #414141;
}

#map-holder {
  width: 60%;
  height: 100vh;
  float:left;
  /*position: absolute;*/
  /*background-color: : #A0D5FF;*/
}

.svgClass{
  /*width: 100%;*/
  fill: #414141;
}
/*svg rect {
  fill: white;   /* map background colour */
}*/
.country{
  fill: #d0d0d0;   /* country colour */
  stroke: #2A2C39; /* country border colour */
  stroke-width: 1; /* country border width */
}
.country-on{
  fill: #4B5358;   /* highlight colour for selected country */
}
.countryLabel{
  display: none;   /* hide all country labels by default */
}
.countryName{
  fill: #FFFAFF;   /* country label text colour */
}
.countryLabelBg{
  fill: #30BCED;   /* country label background colour */
}

.node {
  stroke-width: 4px;
  stroke: gray;
  fill: #dddddd;
}

.background {
  fill: transparent;
}

.signature{
  /*text-align: right;*/
  font-style: italic;
  font-size: 14px;
}

.realimg{
  width: 80%;
}

.title{
  margin-top: -5px;
}

.subtitle{
  font-style: oblique;
}

.alltext{
  font-size: 14px;
}
